<form class="form" id="custom-form" action="result" method="post">
    
<div>My Form v2.0</div>
    
    <h1>Survey questions</h1>
    
    <div class="field required">
   	 <p>Your gender</p>
   	 <input type="radio" name="sex" value="Male">Male<br>
    	 <input type="radio" name="sex" value="Female">Female<br>
    </div>
    
    <div class="field required">
    	<p>How old are you?</p>
    	<input type="radio" name="age" value="young">10-30<br>
   	<input type ="radio" name="age" value="middle">30-50<br>
   	<input type="radio" name="age" value="old">50-100<br>
    </div>

    <div class="field required">
    	<p>Your choice</p>
    	<input type="radio" name="drink" value="water">Water<br>
    	<input type="radio" name="drink" value="milk">Milk<br>
    	<input type="radio" name= "drink" value="juice">Juice<br>
    </div>

    <p>Do you have health issues?</p>
    <input type="textarea" name="health" rows="5" cols="50" 	     placeholder="..."></textarea><br>

    <br><input type="submit" value="Submit"></input>

</form>

<script type="text/x-magento-init">

	{
	  "#custom-form": {
	   "validation": {}
	 }
      }

</script>
	













